{% extends 'base.html' %}

{% block title %}
    {{ context.title }}
{% endblock title %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="InputSubject" class="form-label">Тема сообщения</label>
            <input type="text" class="form-control" id="InputSubject" aria-describedby="subjectlHelp" name="subject">
            <div id="subjectlHelp" class="form-text">Введите тему вашего сообщения</div>
        </div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Адрес электронной почты</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">Введите адрес электронной почты</div>
        </div>
        <div class="mb-3">
            <label for="FormControlTextarea" class="form-label">Сообщение</label>
            <textarea class="form-control" id="FormControlTextarea" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}