{% extends 'base.html' %}

{% block title %}
    {{ context.title }}
{% endblock title %}

{% block content %}
    <div class="container d-flex mt-3">
        <div class="border-end" style="width: 200px;">
            <div class="border-bottom">
                <p class="text-center">Categories</p>
            </div>
            <div class="border-bottom">
                <nav class="nav flex-column">
                    {% for category in context.categories_courses %}
                        <a class="nav-link" href="/courses/{{ category.name }}/">{{ category.name }}</a>
                    {% endfor %}
                </nav>
            </div>
            <form action="" method="post" class="mt-3 text-center">
                <div class="mb-3">
                    <label for="createCategory" class="form-label">Add category</label>
                    <input type="text" class="form-control w-75 mx-auto" id="createCategory" name="new-category">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% if request.category %}
            <div class="border-end" style="width: 300px;">
                <div class="border-bottom">
                    <p class="text-center">{{ request.category }} courses</p>
                </div>
                <div>
                    <nav class="nav flex-column">
                        {% for course in context.courses %}
                            <a class="nav-link"
                               href="/courses/{{ request.category }}/{{ course.name|replace(' ', '_') }}/">{{ course.name }}</a>
                        {% endfor %}
                    </nav>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-primary" href="/courses/new/" role="button">New
                        course</a>
                </div>
            </div>
        {% endif %}
        {% if request.course %}
            <div class="border-end" style="width: 600px;">
                {% set path = request.path.strip('/').split('/')[-1] %}
                {% set path_back = request.path[:-5] %}
                <div>
                    {% for course in context.courses %}
                        {% if course.name == request.course %}
                            {% if path == 'edit' %}
                                <form action="{{ path_back }}" method="post" class="mx-2">
                                    <div class="mb-3">
                                        <label for="NameInput" class="form-label">Name:</label>
                                        <input type="text" class="form-control" id="NameInput"
                                               value="{{ course.name }}" name="new_name">
                                    </div>
                                    {% if course.type == "interactive" %}
                                        <div class="mb-3">
                                            <label for="urlInput" class="form-label">URL:</label>
                                            <input type="url" class="form-control" id="urlInput"
                                                   value="{{ course.url }}" name="new_url">
                                        </div>
                                    {% elif course.type == "record" %}
                                        <div class="mb-3">
                                            <label for="addressInput" class="form-label">Address:</label>
                                            <input type="text" class="form-control" id="addressInput"
                                                   value="{{ course.address }}" name="new_address">
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        <label for="descriptionTextarea" class="form-label">Description:</label>
                                        <textarea class="form-control" id="descriptionTextarea"
                                                  rows="3" name="new_text">{{ course.description }}</textarea>
                                    </div>
                                    <input type="hidden" name="course" value="{{ course }}">
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            {% else %}
                                <h3 class="text-center">{{ request.course }}</h3>
                                <p class="ms-2">{{ course.description }}</p>
                                {% if course.type == "interactive" %}
                                    <p class="ms-2">This course is interactive, follow the link: <a
                                            href="#">{{ course.url }}</a></p>
                                {% elif course.type == "record" %}
                                    <p class="ms-2">This course is conducted offline.</p>
                                    <p class="ms-2">The address: {{ course.address }}</p>
                                {% endif %}
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-primary" href="{{ request.path }}edit/" role="button">Edit
                                        course</a>
                                    <form action="/courses/copy/" method="post" class="ms-2">
                                        <input type="hidden" name="course" value="{{ course }}">
                                        <button type="submit" class="btn btn-primary">Copy the course</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}