{% extends 'base.html' %}

{% block title %}
{{ context.title }}
{% endblock title %}

{% block content %}
<div class="container d-flex mt-3">
    <div class="border-end" style="width: 300px;">
        <div class="border-bottom">
            <p class="text-center">Students</p>
        </div>
        <div class="border-bottom">
            <div class="list-group">
                {% for student in context.students %}
                <a href="#" class="list-group-item list-group-item-action">{{ student }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="/students/new/" role="button">New student</a>
        </div>
    </div>
</div>
{% endblock content %}